language: node_js
branches:
  only:
    - master
cache:
  yarn: true
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - "8"
script:
  - npm run test:prod && npm run build
after_success:
  - npm run report-coverage
