body {
  background-color: #FDFBFA;
  color: #141414;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.6;
}

a {
  color: #366fd1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.4;
  margin: 1em 0 0.2em;
  color: #8A7A75;
}

h1 {
  margin: 6px 0 4px;
  font-size: 70px;
  font-weight: 400;
}

h2 {
  font-size: 1.8em;
  margin: 0.7em 0 0.3em;
}

h1 + h1, h1 + h2,
h2 + h1, h2 + h2 {
  margin-top: 0;
}

blockquote,
blockquote cite,
ol,
p,
pre,
ul {
  margin: 0.6em 0;
}

strong, b {
  font-weight: 400;
}
