.layout {
  height: 100vh;
  margin: 0 auto;
  padding: 10px 32px 32px;
  overflow-y: auto;
  scroll-behavior: smooth;

  -webkit-overflow-scrolling: touch;
}
.layout-content a {
  color: #CAA29B;
}
.layout-content a:hover {
  color: #B08881;
}
.layout-nav {
  display: none;
  padding: 0 0 0 20px;
  font-size: 16px;
  color: #222;
}
.layout-nav a {
  display: block;
  padding: 5px 10px;
  border-left: 2px solid transparent;
  line-height: 20px;
  text-decoration: none;
}
.layout-nav a:hover,
.layout-nav a.active {
  background: rgba(246, 225, 113, 0.3);
  border-left-color: rgba(227, 187, 180, 0.8);
}

.title {
  margin: 0;
  padding: 9px 0;
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  color: #f2db77;
}

/* Box -----------------------------------------------------------------------*/
.box {
  overflow: hidden;
  margin: 60px 0;
  text-align: left;
}
.box--intro {
  margin: 0 0 40px !important;
}
.box--intro p {
  margin: 10px 0;
  line-height: 30px;
}
.box-title {
  margin: 0;
  padding: 0 0 20px;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
.box-img {
  width: 700px;
  border: 1px solid #ccc;
  margin: 0 auto;
  display: block;
  border-radius: 2px;
}

.logo {
  display: block;
  width: 262px;
  margin: auto;
}

.box-demo {
  margin: 10px 0;
  padding: 10px;
  border-left: 2px solid rgba(227, 187, 180, 0.8);
  border-radius: 2px;
  background: rgba(246, 225, 113, 0.3);
}
.box-demo-btn {
  transition: all 0.3s;

  margin-right: 20px;
  padding: 5px 12px;
  border: 1px solid #ddbdb6;
  border-radius: 0.25rem;
  line-height: 1.25;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  background: #f5d7cd;
  color: #8a7a75;
}
.box-demo-btn:hover {
  border-color: #f2db77;
  background: #f7e7a1;
  color: #fdfbfa;
}

.Teapotio-logo,
.Teapotio-symfonyLogo,
.TwitterLogo,
.PlanLogo {
  margin: 15px 0;
  width: 100px;
}

.layout-nav-links {

}

.layout-nav-people {

}

@media (min-width: 640px) {
  .logo {
    float: left;
  }

  .title {
    text-align: left;
  }
}

@media (min-width: 960px) {
  .layout {
    display: flex;
    justify-content: center;
  }

  .layout-nav {
    flex-shrink: 0;

    display: block;
    position: sticky;
    top: 10px;
  }

  .layout-content {
    flex: 1;

    max-width: 700px;
  }
}
